
<!DOCTYPE  html>

<html>
	<head>
		<title>Sign up Form</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<link rel="stylesheet" type="text/css" href="../styles/style.css">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href = "/">Идеи:</a></li>
				<li><a href = "/new">Добави идея:</a></li>
			</ul>
		</nav>
		<form  method = "POST" >
			<label for="idea_description">Кратко описание:</label>
			<input type="text" id = "idea_description" name="idea_description">
			<label for="idea_body">Идея:</label>
			<textarea id = "idea_body" name="idea_body"></textarea>
			<input type = "submit">
		</form>
	</body>
</html>