body,div, p,a,li,ul,table,td,tr,html,h1,h2,h3{
	margin:0;
	padding:0;
}

body{
	font-family: sans-serif;
	color:#494a4a;

}
.clearfix {
	*zoom:1;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;

}

.wrapper{
	margin:0 auto;
	width:50%;
	min-width:600px;
	padding-top:25px;
}


.button{
	display:inline-block;
	zoom:1;
	*display:inline;
	background: #428bca;
	padding:10px 15px;
	color:white;
	font-size:1em;
	font-weight:normal;
	border:1px solid #1d5b90;
	border-radius:4px;
	margin-top:15px;
}

.button.large {
	background:WhiteSmoke;
	font-size:1.8em;
	color:#c7c9c9;
	border-color:#c7c9c9;
	text-decoration:none;
}

.button.large:hover {
	color:grey;
	border-color:grey;
}

p {
	padding-top:10px;
	padding-bottom:10px;
}

h1{
	color: #428bca;
}

h2{
	font-weight:normal;
	font-size:1.1em;
}

/*Navigation*/
header#page-header{
	background:#f8f8f8;
}

header#page-header h1{
	color:#777777;
	font-size:1em;
	float:left;
	padding:20px 13px;
}

ul#main-menu, ul#main-menu li{
	float:left;
	list-style-type:none;
}

ul#main-menu li a{
	display:inline-block;
	zoom:1;
	*display:inline;
	padding:20px 13px;
	text-decoration:none;
	font-size:0.9em;
	color:grey;
}

ul#main-menu li:hover a{
	background: #e7e7e7;
	color:#428bca;
}

h2.page-title{
	font-weight: normal;
	padding:7px 0;
}

table.ideas_list{
	border:1px solid grey;
	padding:3px;
	border-collapse: collapse;
	width:100%;

}

table.ideas_list td, table.ideas_list th{
	padding:8px 15px;
	border:1px solid grey;
}

table.ideas_list td{
	font-size:0.9em;
	color:grey;
}
table.ideas_list tr:nth-child(even) {
	background:WhiteSmoke;
}
input.table-checkbox{

}

div.idea_body{

}

th{
	background:#cfd9ea;
}


/*Form*/

.basic-entry{
	background:#eeeeee;
	padding:15px;
	border-radius: 15px;
}
.basic-entry  dt, .basic-entry dd{
	margin-bottom:10px;
	float:left;
	font-style: italic;
}

.basic-entry dt{
	width:30%;
}

.basic-entry dd{
	width:50%;
}

.basic-entry dd *{
	width:100%;
	border-radius:5px;
	border:1px solid #d6d5d5;
	padding:5px;
	color:grey;
}

.basic-entry dd input{
	height: 30px;
}

footer#page-footer{
	margin-top:80px;
	background:WhiteSmoke;
	min-height: 300px;
	text-align:center;
}

footer#page-footer .button.large{
	margin-top: 100px;
}